/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/paragraph/tiptap/tiptap.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.tiptap {
    ul,
    ol {
        padding: 0 1rem;
    }

    ul {
        list-style: disc;
    }

    div {
        outline: none;
    }

    div:focus {
        outline: none !important;
    }

    ol {
        list-style-type: decimal;
    }

    h1 {
        font-size: 12x;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 30px;
    }

    li::marker {
        color: #adb5bd;
    }

    p {
        padding: 0.3rem;
    }
}

.ProseMirror:focus {
    outline: none;
}

/* Placeholder (at the top) */
.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
}

.bullet_class {
    list-style: inside;
    margin: 0;
    padding: 0;
}

.ordered_class {
    list-style: decimal;
    list-style-position: inside;
}

/* Render the username above the caret */
.collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    white-space: nowrap;
}

